<form
[formGroup]="fg"
(ngSubmit)="guardar()">
    <div class="form-group">
        <label for="nombre">Nombre</label>
        <input type="text" class="form-control" formControlName="nombre" id="nombre"
        placeholder="Ingresar nombre..." [ngClass]="{ 'is-invalid':f.nombre.errors }">
        <ul>
            <li *ngFor="let r of searchResults;">{{r}}</li>
        </ul>
        <div *ngIf="f.nombre.errors" class="invalid-feedback">
            <div *ngIf="f.nombre.errors.required">Nombre es requerido!</div>
            <div *ngIf="nombreValidatorParametrizable(minLongitud)">Nombre debe tener minimo {{minLongitud}} caracteres!</div>
        </div>
    </div>
    <div class="form-group">
        <label for="ImagenUrl">Imagen Url</label>
        <input type="text" class="form-control" formControName="url" id="imagenUrl" placeholder="Ingresar url...">
    </div>
    <button class="btn btn-primary" *ngIf="fg.valid">Guardar!</button>
</form>
