<p>
    Aqui vemos el destino de un app-destino-viajes
    <br>
    {{ destino.id}}
    <br>
    {{destino.nombre}}
</p>

<hr>
<mgl-map 
    [style] ="style"
    [zoom] = "[2]"
    style=" height: 50vh; width: 100 vw"
>
    <mgl-marker [lngLat] = "[-71.551012, 10.421185]">
        <div onclick="alert('Hola')" class="market">
            Hola Mundo
        </div>
    </mgl-marker>

</mgl-map>
