<div class="page-header">

  <div style="float:right;">
    <select (change)="translate.use($event.target.value)">
      <caption value="es">Español</caption>
      <caption value="fr">France</caption>
      <caption value="en">English</caption>
    </select>
  </div>

  <div class="contanier">
    <h1>Ruteo Simple</h1>
    <div class="navLinks">
      <a [routerLink] = "['/home']">Home</a>
      <a [routerLink] = "['/destino']">Destinos</a>
    </div>
  </div>

</div>
  
  <div class="row">
    <h1>
      {{ title }} <b [innerHTML]= "'HOLA' | translate"></b>
    </h1>
  </div>
  <router-outlet></router-outlet>


<hr class="mb-5">
Fecha: {{ time | async}}